---
layout: framework
banner:
  banner_html: post-header.html
hidden: []
title: "Your Post Title"
date: 2024-09-26
author: Your Name
tags: [example, static]
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Card Layout</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Paper</h1>
    <div class="blog-posts">
        <div class="post-card">
            <div class="post-thumbnail">
                <img src="assets\img\cod.jpg" alt="Improving page speed">
            </div>
            <div class="post-content">
                <div class="post-meta">
                    <img class="author-avatar" src="assets\images\portrait\menghui.jpg" alt="Jodi Harmon">
                    <span class="author-name">Hui Meng</span>
                    <span class="post-date">13 June 2024</span>
                </div>
                <h2 class="post-title">
                    <a href="#">Camouflaged Object Detection via Scale-Feature
                      Attention and Type-Feature Attention.</a>
                </h2>
                <p class="post-excerpt">
                  Camouflaged Object Detection via Scale-Feature
                  Attention and Type-Feature Attention.
                </p>
                <div class="post-tags">
                  <a href="assets\pdf\Camouflaged Object Detection via Scale-Feature.pdf" target="_blank" class="tag">Download PDF</a>
                    <span class="tag">Seo</span>
                    <span class="tag">Development</span>
                </div>
            </div>
        </div>
<!-- ------------------------------------------------------------------- -->
<div class="post-card">
  <div class="post-thumbnail">
      <img src="assets\img\AUF.jpg" alt="Improving page speed">
  </div>
  <div class="post-content">
      <div class="post-meta">
          <img class="author-avatar" src="assets\images\portrait\jiangguangqi.png" alt="Jodi Harmon">
          <span class="author-name">Guangqi Jiang</span>
          <span class="post-date">13 June 2024</span>
      </div>
      <h2 class="post-title">
          <a href="#">Adaptive Unified Framework with Global Anchor
            Graph for Large-scale Multi-view Clustering.</a>
      </h2>
      <p class="post-excerpt">
          Faster website download speeds have been shown to increase visitor retention and loyalty...
      </p>
      <div class="post-tags">
        <a href="assets\pdf\AUF-LMC(camera).pdf" target="_blank" class="tag">Download PDF</a>
          <span class="tag">Seo</span>
          <span class="tag">Development</span>
      </div>
  </div>
</div>
<!-- ----------------------------------------------------------- -->

<div class="blog-posts">
  <div class="post-card">
      <div class="post-thumbnail">
          <img src="assets\img/cap.jpg" alt="Improving page speed">
      </div>
      <div class="post-content">
          <div class="post-meta">
              <img class="author-avatar" src="assets\images\portrait\liuyi.jpg" alt="Jodi Harmon">
              <span class="author-name">Yi Liu</span>
              <span class="post-date">13 February 2024</span>
          </div>
          <h2 class="post-title">
              <a href="#">Capsule Networks With Residual Pose Routing.</a>
          </h2>
          <p class="post-excerpt">
              Faster website download speeds have been shown to increase visitor retention and loyalty...
          </p>
          <div class="post-tags">
            <a href="assets\pdf\Capsule_Networks_With_Residual_Pose_Routing.pdf" target="_blank" class="tag">Download PDF</a>
              <span class="tag">Seo</span>
              <span class="tag">Development</span>
          </div>
      </div>
  </div>
<!-- --------------------------------------------------------------------- -->
        <div class="post-card">
            <div class="post-thumbnail">
                <img src="assets\img/tcg.jpg" alt="Ideas to help your business grow">
            </div>
            <div class="post-content">
                <div class="post-meta">
                    <img class="author-avatar" src="assets\images\portrait\zhouling.jpg" alt="Mark Paulo">
                    <span class="author-name">Ling Zhou</span>
                    <span class="post-date">11 February 2024</span>
                </div>
                <h2 class="post-title">
                    <a href="#">TCGNet: TypeCorrelation Guidance for Salient Object Detection</a>
                </h2>
                <p class="post-excerpt">
                    Branding is an intrinsic part of your company's success, learn why your brand matters...
                </p>
                <div class="post-tags">
                  <a href="assets\pdf\TCGNet_Type-Correlation_Guidance_for_Salient_Object_Detection.pdf" target="_blank" class="tag">Download PDF</a>
                    <span class="tag">Branding</span>
                    <span class="tag">Marketing</span>
                </div>
            </div>
        </div>


        <!-- ----------------------------------------------- -->
        <div class="post-card">
          <div class="post-thumbnail">
              <img src="assets\img/dktnet.jpg" alt="Ideas to help your business grow">
          </div>
          <div class="post-content">
              <div class="post-meta">
                  <img class="author-avatar" src="assets\images\portrait\xushoukun.jpg" alt="Mark Paulo">
                  <span class="author-name">ShouKun Xu</span>
                  <span class="post-date">18 February 2023</span>
              </div>
              <h2 class="post-title">
                  <a href="#">DKTNet Dual-Key Transformer Network for small object detection</a>
              </h2>
              <p class="post-excerpt">
                  Branding is an intrinsic part of your company's success, learn why your brand matters...
              </p>
              <div class="post-tags">
                <a href="assets\pdf\DKTNet Dual-Key Transformer Network for small object detection.pdf" target="_blank" class="tag">Download PDF</a>
                  <span class="tag">Branding</span>
                  <span class="tag">Marketing</span>
              </div>
          </div>
      </div>
         <!-- ----------------------------------------------- -->
         <div class="post-card">
          <div class="post-thumbnail">
              <img src="assets\img/dcr.jpg" alt="Ideas to help your business grow">
          </div>
          <div class="post-content">
              <div class="post-meta">
                  <img class="author-avatar" src="assets\images\portrait\liuyi.jpg" alt="Mark Paulo">
                  <span class="author-name">Yi Liu</span>
                  <span class="post-date">21 june 2023</span>
              </div>
              <h2 class="post-title">
                  <a href="#">Disentangled capsule routing for fast part-object relational saliency</a>
              </h2>
              <p class="post-excerpt">
                  Branding is an intrinsic part of your company's success, learn why your brand matters...
              </p>
              <div class="post-tags">
                <a href="assets\pdf\Disentangled Capsule Routing for Fast Part-Object Relational Saliency.pdf" target="_blank" class="tag">Download PDF</a>
                  <span class="tag">Branding</span>
                  <span class="tag">Marketing</span>
              </div>
          </div>
      </div>

          <!-- ----------------------------------------------- -->
          <div class="post-card">
            <div class="post-thumbnail">
                <img src="assets\img/bi.jpg" alt="Ideas to help your business grow">
            </div>
            <div class="post-content">
                <div class="post-meta">
                    <img class="author-avatar" src="assets\images\portrait\liuyi.jpg" alt="Mark Paulo">
                    <span class="author-name">Yi Liu</span>
                    <span class="post-date">11 February 2023</span>
                </div>
                <h2 class="post-title">
                    <a href="#">Bi-directional progressive guidance network for RGB-D salient object detection</a>
                </h2>
                <p class="post-excerpt">
                    Branding is an intrinsic part of your company's success, learn why your brand matters...
                </p>
                <div class="post-tags">
                  <a href="assets\pdf\Bi-directional Progressive Guidance Network for RGB-D Salient Object Detection.pdf" target="_blank" class="tag">Download PDF</a>
                    <span class="tag">Branding</span>
                    <span class="tag">Marketing</span>
                </div>
            </div>
        </div>


           <!-- ----------------------------------------------- -->

           <div class="post-card">
            <div class="post-thumbnail">
                <img src="assets\img/pcvs.jpg" alt="Ideas to help your business grow">
            </div>
            <div class="post-content">
                <div class="post-meta">
                    <img class="author-avatar" src="assets\images\portrait\liuyi.jpg" alt="Mark Paulo">
                    <span class="author-name">Yi Liu</span>
                    <span class="post-date">11 February 2022</span>
                </div>
                <h2 class="post-title">
                    <a href="#">Part-object relational visual saliency</a>
                </h2>
                <p class="post-excerpt">
                    Branding is an intrinsic part of your company's success, learn why your brand matters...
                </p>
                <div class="post-tags">
                  <a href="assets\pdf\Part-Object Relational Visual Saliency.pdf" target="_blank" class="tag">Download PDF</a>
                    <span class="tag">Branding</span>
                    <span class="tag">Marketing</span>
                </div>
            </div>
        </div>

            <!-- ----------------------------------------------- -->

            <div class="post-card">
              <div class="post-thumbnail">
                  <img src="assets\img/in.jpg" alt="Ideas to help your business grow">
              </div>
              <div class="post-content">
                  <div class="post-meta">
                      <img class="author-avatar" src="assets\images\portrait\liuyi.jpg" alt="Mark Paulo">
                      <span class="author-name">Yi Liu</span>
                      <span class="post-date">11 February 2022</span>
                  </div>
                  <h2 class="post-title">
                      <a href="#">Integrating part-object relationship and contrast for camouflaged object detection</a>
                  </h2>
                  <p class="post-excerpt">
                      Branding is an intrinsic part of your company's success, learn why your brand matters...
                  </p>
                  <div class="post-tags">
                    <a href="assets\pdf\Integrating Part-Object Relationship and Contrast for Camouflaged Object Detection.pdf" target="_blank" class="tag">Download PDF</a>
                      <span class="tag">Branding</span>
                      <span class="tag">Marketing</span>
                  </div>
              </div>
          </div>

             <!-- ----------------------------------------------- -->
             <div class="post-card">
              <div class="post-thumbnail">
                  <img src="assets\img/em.jpg" alt="Ideas to help your business grow">
              </div>
              <div class="post-content">
                  <div class="post-meta">
                      <img class="author-avatar" src="assets\images\portrait\liuyi.jpg" alt="Mark Paulo">
                      <span class="author-name">Yi Liu</span>
                      <span class="post-date">11 February 2022</span>
                  </div>
                  <h2 class="post-title">
                      <a href="#">Exploring multi-scale deformable context and channel-wise attention for salient object detection</a>
                  </h2>
                  <p class="post-excerpt">
                      Branding is an intrinsic part of your company's success, learn why your brand matters...
                  </p>
                  <div class="post-tags">
                    <a href="assets\pdf\Exploring multi-scale deformable context and channel-wise attention for salient object detection.pdf" target="_blank" class="tag">Download PDF</a>
                      <span class="tag">Branding</span>
                      <span class="tag">Marketing</span>
                  </div>
              </div>
          </div>

              <!-- ----------------------------------------------- -->
              <div class="post-card">
                <div class="post-thumbnail">
                    <img src="assets\img/eg.jpg" alt="Ideas to help your business grow">
                </div>
                <div class="post-content">
                    <div class="post-meta">
                        <img class="author-avatar" src="assets\images\portrait\liuyi.jpg" alt="Mark Paulo">
                        <span class="author-name">Yi Liu</span>
                        <span class="post-date">11 February 2022</span>
                    </div>
                    <h2 class="post-title">
                        <a href="#">Engaging part-whole hierarchies and contrast cues for salient object detection</a>
                    </h2>
                    <p class="post-excerpt">
                        Branding is an intrinsic part of your company's success, learn why your brand matters...
                    </p>
                    <div class="post-tags">
                      <a href="assets\pdf\Engaging Part-whole Hierarchies and Contrast Cues for Salient Object Detection.pdf" target="_blank" class="tag">Download PDF</a>
                        <span class="tag">Branding</span>
                        <span class="tag">Marketing</span>
                    </div>
                </div>
            </div>

              <!-- ----------------------------------------------- -->
              <div class="post-card">
                <div class="post-thumbnail">
                    <img src="assets\img/dso.jpg" alt="Ideas to help your business grow">
                </div>
                <div class="post-content">
                    <div class="post-meta">
                        <img class="author-avatar" src="assets\images\portrait\liuyi.jpg" alt="Mark Paulo">
                        <span class="author-name">Yi Liu</span>
                        <span class="post-date">11 February 2022</span>
                    </div>
                    <h2 class="post-title">
                        <a href="#">Deep Salient Object Detection with Contextual Information Guidance</a>
                    </h2>
                    <p class="post-excerpt">
                        Branding is an intrinsic part of your company's success, learn why your brand matters...
                    </p>
                    <div class="post-tags">
                      <a href="assets\pdf\Deep salient object detection with contextual information guidance.pdf" target="_blank" class="tag">Download PDF</a>
                        <span class="tag">Branding</span>
                        <span class="tag">Marketing</span>
                    </div>
                </div>
                </div>


              <!-- ----------------------------------------------- -->
              <div class="post-card">
                <div class="post-thumbnail">
                    <img src="assets\img/jc.jpg" alt="Ideas to help your business grow">
                </div>
                <div class="post-content">
                    <div class="post-meta">
                        <img class="author-avatar" src="assets\images\portrait\liuyi.jpg" alt="Mark Paulo">
                        <span class="author-name">Yi Liu</span>
                        <span class="post-date">11 February 2022</span>
                    </div>
                    <h2 class="post-title">
                        <a href="#">Joint cross-modal and unimodal features for RGB-D salient object detection</a>
                    </h2>
                    <p class="post-excerpt">
                        Branding is an intrinsic part of your company's success, learn why your brand matters...
                    </p>
                    <div class="post-tags">
                      <a href="assets\pdf\Joint Cross-Modal and Unimodal Features for RGB-D Salient Object Detection.pdf" target="_blank" class="tag">Download PDF</a>
                        <span class="tag">Branding</span>
                        <span class="tag">Marketing</span>
                    </div>
                </div>
                </div>

              <!-- ----------------------------------------------- -->
              <div class="post-card">
                <div class="post-thumbnail">
                    <img src="assets\img/edp.jpg" alt="Ideas to help your business grow">
                </div>
                <div class="post-content">
                    <div class="post-meta">
                        <img class="author-avatar" src="assets\images\portrait\liuyi.jpg" alt="Mark Paulo">
                        <span class="author-name">Yi Liu</span>
                        <span class="post-date">11 February 2022</span>
                    </div>
                    <h2 class="post-title">
                        <a href="#">Employing Deep Part-Object Relationships for Salient Object Detection</a>
                    </h2>
                    <p class="post-excerpt">
                        Branding is an intrinsic part of your company's success, learn why your brand matters...
                    </p>
                    <div class="post-tags">
                      <a href="assets\pdf\Employing deep part-object relationships for salient object detection.pdf" target="_blank" class="tag">Download PDF</a>
                        <span class="tag">Branding</span>
                        <span class="tag">Marketing</span>
                    </div>
                </div>
                </div>


              <!-- ----------------------------------------------- -->

              <div class="post-card">
                <div class="post-thumbnail">
                    <img src="assets\img/v2.jpg" alt="Ideas to help your business grow">
                </div>
                <div class="post-content">
                    <div class="post-meta">
                        <img class="author-avatar" src="assets\images\portrait\liuyi.jpg" alt="Mark Paulo">
                        <span class="author-name">Yi Liu</span>
                        <span class="post-date">11 February 2022</span>
                    </div>
                    <h2 class="post-title">
                        <a href="#">Salient object detection via two-stage graphs</a>
                    </h2>
                    <p class="post-excerpt">
                        Branding is an intrinsic part of your company's success, learn why your brand matters...
                    </p>
                    <div class="post-tags">
                      <a href="assets\pdf\Salient object detection via two-stage graphs.pdf" target="_blank" class="tag">Download PDF</a>
                        <span class="tag">Branding</span>
                        <span class="tag">Marketing</span>
                    </div>
                </div>
                </div>
               <!-- ----------------------------------------------- -->
               <div class="post-card">
                <div class="post-thumbnail">
                    <img src="assets\img/l3.jpg" alt="Ideas to help your business grow">
                </div>
                <div class="post-content">
                    <div class="post-meta">
                        <img class="author-avatar" src="assets\images\portrait\liuyi.jpg" alt="Mark Paulo">
                        <span class="author-name">Yi Liu</span>
                        <span class="post-date">11 February 2022</span>
                    </div>
                    <h2 class="post-title">
                        <a href="#">Salient object detection employing a local tree-structured low-rank representation and foreground consistency</a>
                    </h2>
                    <p class="post-excerpt">
                        Branding is an intrinsic part of your company's success, learn why your brand matters...
                    </p>
                    <div class="post-tags">
                      <a href="assets\pdf\Salient object detection employing a local tree-structured low-rank representation and foreground consistency.pdf" target="_blank" class="tag">Download PDF</a>
                        <span class="tag">Branding</span>
                        <span class="tag">Marketing</span>
                    </div>
                </div>
                </div>
                <!-- ----------------------------------------------- -->
                <div class="post-card">
                  <div class="post-thumbnail">
                      <img src="assets\img/srub.jpg" alt="Ideas to help your business grow">
                  </div>
                  <div class="post-content">
                      <div class="post-meta">
                          <img class="author-avatar" src="assets\images\portrait\liuyi.jpg" alt="Mark Paulo">
                          <span class="author-name">Yi Liu</span>
                          <span class="post-date">11 February 2022</span>
                      </div>
                      <h2 class="post-title">
                          <a href="#">Salient object detection employing robust sparse representation and local consistency</a>
                      </h2>
                      <p class="post-excerpt">
                          Branding is an intrinsic part of your company's success, learn why your brand matters...
                      </p>
                      <div class="post-tags">
                        <a href="assets\pdf\Salient object detection employing robust sparse representation and local consistency.pdf" target="_blank" class="tag">Download PDF</a>
                          <span class="tag">Branding</span>
                          <span class="tag">Marketing</span>
                      </div>
                  </div>
                  </div>

                 <!-- ----------------------------------------------- -->
                 <div class="post-card">
                  <div class="post-thumbnail">
                      <img src="assets\img/spa.jpg" alt="Ideas to help your business grow">
                  </div>
                  <div class="post-content">
                      <div class="post-meta">
                          <img class="author-avatar" src="assets\images\portrait\liuyi.jpg" alt="Mark Paulo">
                          <span class="author-name">Yi Liu</span>
                          <span class="post-date">11 February 2022</span>
                      </div>
                      <h2 class="post-title">
                          <a href="#">Sparse representation based multi-sensor image fusion for multi-focus and multi-modality images: A review, Information Fusion</a>
                      </h2>
                      <p class="post-excerpt">
                          Branding is an intrinsic part of your company's success, learn why your brand matters...
                      </p>
                      <div class="post-tags">
                        <a href="assets\pdf\Sparse representation based multi-sensor image fusion for multi-focus and multi-modality images A review.pdf" target="_blank" class="tag">Download PDF</a>
                          <span class="tag">Branding</span>
                          <span class="tag">Marketing</span>
                      </div>
                  </div>
                  </div>
                 <!-- ----------------------------------------------- -->
                 <div class="post-card">
                  <div class="post-thumbnail">
                      <img src="assets\img/s3.jpg" alt="Ideas to help your business grow">
                  </div>
                  <div class="post-content">
                      <div class="post-meta">
                          <img class="author-avatar" src="assets\images\portrait\liuyi.jpg" alt="Mark Paulo">
                          <span class="author-name">Yi Liu</span>
                          <span class="post-date">11 February 2022</span>
                      </div>
                      <h2 class="post-title">
                          <a href="#">Salient object detection based on super-pixel clustering and unified low-rank representation</a>
                      </h2>
                      <p class="post-excerpt">
                          Branding is an intrinsic part of your company's success, learn why your brand matters...
                      </p>
                      <div class="post-tags">
                        <a href="assets\pdf\Salient object detection based on super-pixel clustering and unified low-rank representation.pdf" target="_blank" class="tag">Download PDF</a>
                          <span class="tag">Branding</span>
                          <span class="tag">Marketing</span>
                      </div>
                  </div>
                  </div>
                 <!-- ----------------------------------------------- -->

                 <!-- ----------------------------------------------- -->

                 <!-- ----------------------------------------------- -->
    </div>



</body>
</html>

